{% extends "layout.html" %}
{% block body %}
    <section class="Authentication">
        <div class="container">
            <form method="post" action="">
                <h1>Signup</h1>
                {{ form.hidden_tag() }}
                <div class="inputs">
                    {{ form.first_name.label }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="invalid_input") }}
                        {% for error in form.first_name.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.first_name }}
                    {% endif %}
                </div>

                <div class="inputs">
                    {{ form.last_name.label }}
                    {% if form.last_name.errors %}
                        {{ form.last_name(class="invalid_input") }}
                        {% for error in form.last_name.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.last_name }}
                    {% endif %}
                </div>

                <div class="inputs">
                    {{ form.email_address.label }}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="invalid_input") }}
                        {% for error in form.email_address.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email_address }}
                    {% endif %}
                </div>

                <div class="inputs">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>

                <div class="inputs">
                    {{ form.confirm_password.label }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="invalid_input") }}
                        {% for error in form.confirm_password.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password }}
                    {% endif %}
                </div>

                <div class="inputs">
                    {{ form.submit(class="action_btn") }}
                </div>
            </form>
            <p>Already have an account? <a href="{{ url_for('users.login') }}">Login</a></p>
        </div>
    </section>
{% endblock body %}